#dev{
    position: fixed;
    width:1355px;
    height: 25px;
    margin-right: 300px;
    margin-top:555px;
    color: black;
    background-color: white;
    color: rgb(3, 3, 3);
    text-align: center;
    font-size: larger;
}

#box{
    margin-left:500px;
    margin-right:500px;
}

img{
    width: 250px;
    height: 250px;
    border-style: dashed;
    border-width: 2px;
    float: left;
    margin-left: 150px;
}